.blue-button {
  background-color: #2513e6;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}


.blue-button:hover {
  background-color: #10cfe8;
}


.blue-button:active {
  background-color: #22ff00;
}


.red-button {
  background-color: #169732;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  margin-left:10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}


.red-button:hover {
  background-color: #0c2e16;
}


.red-button:active {
  background-color: #0d3c20;
}

.btn-minwidth{
  min-width: 130px;
}

.green-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f604a5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.green-button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: -1;
}

.green-button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.green-button:hover:before {
  transform: translateY(-100%);
}





